.article-container {
  padding: 0 .5rem;
}

.article {
  position: relative;
  margin: .4rem;
  margin-top: -.1rem;
  background-color: $white;
  border-radius: 2px;
  &-img {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      height: 350px;
    }
  }
  &-tag {
    color: $white;
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 100%;
    padding: 3px 8px;
    background-color: $lightgray;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
  }
  &-date {
    color: $white;
    position: absolute;
    top: 35%;
    left: 0;
    max-width: 100%;
    padding-left: 80px;
    font-size: 12px;
    font-weight: 700;
  }
  &-title {
    color: $white;
    position: absolute;
    top: 40%;
    left: 0;
    max-width: 100%;
    padding-left: 80px;
    font-size: 24px;
    font-weight: 700;
  }
  &-body {
    color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 100%;
    padding-left: 80px;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  &-info {
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding-left: 20px;
    margin: 0.6rem;
    .author-name {
      vertical-align: text-bottom;
      margin: 0 10px;
    }
    .comment-count {
      vertical-align: text-bottom;
      margin: 0 10px;
    }
    .material-icons {
      font-size: 20px;
    }
  }
  .tag-icon {
    position: absolute;
    top: 40%;
    left: 0;
    max-width: 100%;
    padding-left: 30px;
    color: $white;
    .material-icons {
      font-size: 30px;
    }
  }
  hr {
    color: $white;
    position: absolute;
    left: 0;
    max-width: 100%;
    width: 100%;
    bottom: 10%;
  }
}